        <!--Left Sidebar collapse button-->  
        <div class="collapseBtn leftbar">
             <a href="#" class="tipR" title="Hide Left Sidebar"><span class="icon12 minia-icon-layout"></span></a>
        </div>
        <!--Sidebar background-->
        <div id="sidebarbg"></div>
		<!--Sidebar background-->
		<div id="sidebar">
		<div class="shortcuts">
                <ul>
                     <li>
                        <a title="Glossaire" href="#myModal" class="actionLink" modal-url="{{path('guide_utilisation')}}" data-target="#myModal" data-toggle="modal"><span class="icon24 icomoon-icon-book"></span></a>
                    </li>
                    <li>
                        <a title="Parametrage Frequence" href="{{path('les_bu')}}"><span class="icon24 icomoon-icon-settings"></span></a>
                    </li>           
                    <li>
                        <a title="Nous Contacter" href="#myModal" class="actionLink" modal-url="{{path('mail')}}" data-target="#myModal" data-toggle="modal"><span class="icon24 icomoon-icon-mail"></span></a>
                    </li>
                    <li>
                        <a title="Guide d'Utilisation" href="#myModal" class="actionLink" modal-url="{{path('guide_utilisation')}}" data-target="#myModal" data-toggle="modal"><span class="icon24 icomoon-icon-download"></span></a>
                    </li>
                </ul>
            </div>
            <div class="sidenav">
                <div class="sidebar-widget" style="margin: 0 0 0 0;">
                    <h5 class="title" style="margin-bottom:0">menu principal</h5>
                </div><!-- End .sidenav-widget -->

                <div class="mainnav">
                     	{{ knp_menu_render('OrangeMainBundle:Builder:main', {'template': 'OrangeMainBundle:Default:knp_menu.html.twig'}) }}
                </div>
            </div><!-- End sidenav -->
{#             {{ render(controller('OrangeMainBundle:Dashboard:tauxRealisation')) }}#}
        </div>
        <!-- End #sidebar -->
